.gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.main{
  background-color: gradient-background;
  padding-top: 20vh;
  padding-left: 10vw;
  justify-content: center;
  align-items: center;
}


.row{
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.container .row .img{
  margin-top: 30vh;
}

.tindog{
  font-size: 5rem;
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.dog_image{
  height: 100px;
  border-radius: 50%;
  margin-top: 5px;
  margin-bottom: 2px;
}




@media screen and (min-width: 480px) {
  /* .container .row{
    flex-direction: column-reverse;
  } */
}